<div class="header" id="header">
    <div class="headerInner">
        <div class="logo"><a href="/listView">YEVENGERS</a></div>
        <a href="/write" class="writeBtn button">Blog 작성</a>
    </div>
</div>