<%- include('head')%>
</head>
<body>
<div class="container index">
  <div class="side_txt"></div>
  <div class="indexBox">
    <div class="title">YEVENGERS PORTFOLIO</div>
    <ul class="memberList">
      <li class="JE">
        <img src="./image/JE.png" />
        <div class="text_box">
          <div class="duties">Web Designer</div>
          <div class="nameBox">
            <div class="name">강지은</div>
            <button type="button" class="more">More</button>
          </div>
        </div>
      </li><!--
      --><li class="YJ">
        <img src="./image/YJ.png" />
        <div class="text_box">
          <div class="duties">Front end Developer</div>
          <div class="nameBox">
            <div class="name">손예준</div>
            <button type="button" class="more">More</button>
          </div>
        </div>
      </li><!--
      --><li class="SH">
        <img src="./image/SH.png" />
        <div class="text_box">
          <div class="duties">Back end Developer</div>
          <div class="nameBox">
            <div class="name">강서하</div>
            <button type="button" class="more">More</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</body>

<%- include('footer')%>

