<%- include('head')%>
</head>
<body>
<div class="container listView">

    <div class="visualBox" id="visualBox">
        <%- include('header')%>
        
        <div class="mainVisual"></div>
        
        <div class="inputBoxouter">
            <form class="inputBox icon">
                <input type="text" placeholder="검색어를 입력해주세요." autofocus /><!--
                --><button type="button" class="search button2"></button>
            </form>
        </div>

        <ul class="nav">
            <li><button>#Design</button></li>
            <li><button>#Front end</button></li>
            <li><button>#Back end</button></li>
            <li><button>#Etc.</button></li>
        </ul>
    </div>

    <ul class="listBox">
        <li class='list'>
            <div class="imgBox">
                <img src="./image/mainVisual.jpg" alt="Thumbnail" />
            </div>
            <div class="txtBox">
                <div class="top">
                    <div class="title">디자인 그리드 활용법</div>
                    <div class="text">반응형 웹디자인의 기본 방식인 디자인 그리드를 활용해 디자인을 해 보았습니다. Yevengers의 메인페이지에서는 단이 총12개 거터의 sadsa dsad adsadsadsadssad sadsadsadsadsadsadssadsadsadsadsadsadsadssa dsadsadsadsadsadsadsa dsad adsadsadsadssad sadsadsadsadsadsadssadsadsadsadsadsadsadssa dsadsadsadsadsadsads</div>
                    <div class="writeDay">2020.09.18</div>
                </div>
                <div class="bottom">
                    <span class="person">by. elissa</span>
                    <span class="commentLength">2개의 댓글</span>
                </div>
            </div>
        </li>
        <li class='list'>
            <div class="imgBox">
                <img src="./image/mainVisual.jpg" alt="Thumbnail" />
            </div>
            <div class="txtBox">
                <div class="top">
                    <div class="title">디자인 그리드 활용법</div>
                    <div class="text">반응형 웹디자인의 기본 방식인 디자인 그리드를 활용해 디자인을 해 보았습니다. Yevengers의 메인페이지에서는 단이 총12개 거터의 ...</div>
                    <div class="writeDay">2020.09.18</div>
                </div>
                <div class="bottom">
                    <span class="person">by. elissa</span>
                    <span class="commentLength">2개의 댓글</span>
                </div>
            </div>
        </li>
        <li class='list'>
            <div class="imgBox">
                <img src="./image/mainVisual.jpg" alt="Thumbnail" />
            </div>
            <div class="txtBox">
                <div class="top">
                    <div class="title">디자인 그리드 활용법</div>
                    <div class="text">반응형 웹디자인의 기본 방식인 디자인 그리드를 활용해 디자인을 해 보았습니다. Yevengers의 메인페이지에서는 단이 총12개 거터의 ...</div>
                    <div class="writeDay">2020.09.18</div>
                </div>
                <div class="bottom">
                    <span class="person">by. elissa</span>
                    <span class="commentLength">2개의 댓글</span>
                </div>
            </div>
        </li>
        <li class='list'>
            <div class="imgBox">
                <img src="./image/mainVisual.jpg" alt="Thumbnail" />
            </div>
            <div class="txtBox">
                <div class="top">
                    <div class="title">디자인 그리드 활용법</div>
                    <div class="text">반응형 웹디자인의 기본 방식인 디자인 그리드를 활용해 디자인을 해 보았습니다. Yevengers의 메인페이지에서는 단이 총12개 거터의 sadsadsadsadsadsadsa</div>
                    <div class="writeDay">2020.09.18</div>
                </div>
                <div class="bottom">
                    <span class="person">by. elissa</span>
                    <span class="commentLength">2개의 댓글</span>
                </div>
            </div>
        </li>
        <li class='list'>
            <div class="imgBox">
                <img src="./image/mainVisual.jpg" alt="Thumbnail" />
            </div>
            <div class="txtBox">
                <div class="top">
                    <div class="title">디자인 그리드 활용법</div>
                    <div class="text">반응형 웹디자인의 기본 방식인 디자인 그리드를 활용해 디자인을 해 보았습니다. Yevengers의 메인페이지에서는 단이 총12개 거터의 ...</div>
                    <div class="writeDay">2020.09.18</div>
                </div>
                <div class="bottom">
                    <span class="person">by. elissa</span>
                    <span class="commentLength">2개의 댓글</span>
                </div>
            </div>
        </li>
        <li class='list'>
            <div class="imgBox">
                <img src="./image/mainVisual.jpg" alt="Thumbnail" />
            </div>
            <div class="txtBox">
                <div class="top">
                    <div class="title">디자인 그리드 활용법</div>
                    <div class="text">반응형 웹디자인의 기본 방식인 디자인 그리드를 활용해 디자인을 해 보았습니다. Yevengers의 메인페이지에서는 단이 총12개 거터의 ...</div>
                    <div class="writeDay">2020.09.18</div>
                </div>
                <div class="bottom">
                    <span class="person">by. elissa</span>
                    <span class="commentLength">2개의 댓글</span>
                </div>
            </div>
        </li>
    </ul>

</div>
</body>
<script src="/js/listView.js"></script>
<%- include('footer')%>