<%- include('head')%>
</head>
<body>
<div class="container listView">

    <div class="visualBox" id="visualBox">
        <%- include('header')%>
        
        <div class="mainVisual"></div>
        
        <div class="inputBoxouter">
            <form class="inputBox icon">
                <input type="text" placeholder="검색어를 입력해주세요." autofocus /><!--
                --><button type="button" class="search button2"></button>
            </form>
        </div>

        <ul class="nav">
            <li><button>#Design</button></li>
            <li><button>#Front end</button></li>
            <li><button>#Back end</button></li>
            <li><button>#Etc.</button></li>
        </ul>
    </div>

    <ul class="listBox" id="listBox"></ul>

</div>
</body>
<script src="/js/listView.js"></script>
<%- include('footer')%>