<%- include('head')%>
<h1><%= title %></h1>
    <label>name</label><input id="name"/>
    <label>password</label><input type="password" id="password"/>
    <label>title</label><input id="title"/>
    <label>content</label><textarea id="content"></textarea>
    <button id="write">전송</button>
  <script>
    document.getElementById('write').onclick = function(){
      $.ajax({
        url: '/api/board/save',
        type: 'POST',
        data: {
          name : document.getElementById('name').value,
          password : document.getElementById('password').value,
          title : document.getElementById('title').value,
          content : document.getElementById('content').value,
        },
        success: function(data) {
          console.log(data)
        },
        error: function(err){
          console.log(err)
        }
      });
    }
  </script>
<%- include('footer')%>