<%- include('head')%>
</head>
<body>
<div class="container index">

    <h1> 글쓰기 // 완료 </h1>
    <label>board_name</label><input id="board_name"/>
    <label>board_password</label><input type="password" id="board_password"/>
    <label>board_title</label><input id="board_title"/>
    <label>board_content</label><textarea id="board_comment"></textarea>
    <button id="board_btn">게시글 전송</button>


</div>
</body>

<%- include('footer')%>